﻿
    @{
        ViewBag.Title = "Mvc View Result Çeşitleri";
    }

    <h2>Mvc View Result Çeşitleri</h2>

    <h3>Farklı View Döndürme</h3>

    <a href="/MVC09ViewResults/FarkliViewDondur">
        FarkliViewDondur
    </a>

    <h3>
        Redirect Result : Sayfayı bir url adresine yönlendirme için kullanılır
    </h3>

    <a href="/MVC09ViewResults/Yonlendir">
        Yonlendir
    </a>

    <h3>
        RedirectToAction Result : Sayfayı bir actiona yönlendirme için kullanılır
    </h3>

    <a href="/MVC09ViewResults/ActionaYonlendir">
        ActionaYonlendir
    </a>

    <h3>
        RedirectToRoute Result : Sayfayı bir Route a yönlendirme için kullanılır
    </h3>

    <a href="/MVC09ViewResults/RouteYonlendir">
        RedirectToRoute Result
    </a>

    <h3>
        PartialViewResult
    </h3>

    <a href="/MVC09ViewResults/KategorileriGetirPartial">
        PartialViewResult
    </a>

    <a href="/MVC09ViewResults/PartialdaModelKullanimi">
        PartialdaModelKullanimi
    </a>

    <h3>
        JsonResult
    </h3>

    <a href="/MVC09ViewResults/JsonResult">
        JsonResult
    </a>

    <h3>
        XmlContentResult
    </h3>

    <a href="/MVC09ViewResults/XmlContentResult">
        Xml Content Result
    </a>