﻿
    @{
        ViewBag.Title = "appsetting Dosyasından Değer Okuma";
    }

    <h2>appsetting Dosyasından Değer Okuma</h2>

    <p>
        Mvc ile appsetting dosyasına yazacağımız özel verilere erişip uygulama içerisinde kullanabiliriz.
    </p>

    <p class="alert alert-warning">
        @Html.Raw(ViewBag.Mesaj)
    </p>