﻿
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Diğer Konular
        </a>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-controller="MVC08Partial" asp-action="Index">MVC08Partial</a></li>
            <li><a class="dropdown-item" href="/MVC09ViewResults">MVC09ViewResults</a></li>
            <li><a class="dropdown-item" href="/MVC10FileUpload">MVC10FileUpload</a></li>
            <li><a class="dropdown-item" href="/MVC11Cookie">MVC11Cookie</a></li>
            <li><a class="dropdown-item" href="/MVC12Session">MVC12Session</a></li>
            <li><a class="dropdown-item" href="/MVC13StringFormat">MVC13StringFormat</a></li>
            <li><a class="dropdown-item" href="/MVC14AppSetting">MVC14AppSetting</a></li>
            <li><a class="dropdown-item" href="/MVC15FiltersUsing">MVC15FiltersUsing</a></li>
            <li><a class="dropdown-item" href="/MVC16HttpContext">MVC16HttpContext</a></li>
            <li><a class="dropdown-item" href="/MVC17Areas">MVC17Areas</a></li>
            <li><a class="dropdown-item" href="/MVC18ViewComponents">MVC18ViewComponents</a></li>
            <li><a class="dropdown-item" href="/ApiKullanimi">ApiKullanimi</a></li>
        </ul>
    </div>